# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env
.env.local
.env.*.local

# Databases
instance/
*.db
*.sqlite
*.sqlite-journal

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Docker
.docker/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# SSH Keys (MUY IMPORTANTE)
*.key
*.pem
